@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * { cursor: inherit; }

    /* Removing Autofill Background */
    input:-webkit-autofill,
	input:-webkit-autofill:focus,
	input:-webkit-autofill:hover,
	input:-webkit-autofill:active {
		transition: background-color 0s 600000s, color 0s 600000s !important;
	}

    /* Heading */
    h1, h2, h3, h4, h5, h6 {
        @apply 
            font-normal
            tracking-tight
            text-gray-950;
    }

    h1 { @apply text-11; }
    h2 { @apply text-10; }
    h3 { @apply text-09; }
    h4 { @apply text-08; }
    h5 { @apply text-07; }
    h6 { @apply text-06; }
    
    /* Non-Heading Text */
    p, ul, ol, li, a, span, label, input, button { 
        @apply 
            text-04
            font-normal
            text-gray-400;
    }
}

@layer components {
    /* Form Field */
    .field {
        @apply
            w-full
            py-2 px-3
            border border-gray-300
            rounded-md
            text-[0.9rem]
            text-gray-600
            font-normal
            bg-white
            shadow-sm
            tracking-wide
            ;
    }

    .error .field {
        @apply
            border-red-400;
    }

    .field:focus {
        @apply
            outline-none
            border-gray-400
            ring-2
            ring-gray-200
    }

    /* Small Pieces of Text */
    .tag {
        @apply
            block
            w-min
            py-0.5 px-1
            bg-white
            border
            border-gray-200
            whitespace-nowrap
            rounded;
    }

    /* Hide Scrollbar */
    .scroll-hide::-webkit-scrollbar { display: none; }
    .scroll-hide {
        -ms-overflow-style: none;
        scrollbar-width: none; 
    }

    /* Buttons  */
    button.icon {
        @apply
            p-1
            w-min
            rounded
            bg-gray-100
            fill-gray-400
            text-gray-400
            stroke-gray-400
            hover:bg-gray-200;
    }

    button.icon * {
        @apply
            !fill-inherit
            !stroke-inherit
            !text-inherit
            !cursor-pointer;
    }
}