@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'general-sans';
  src: url('/fonts/GeneralSans/GeneralSans-Bold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'general-sans';
  src: url('/fonts/GeneralSans/GeneralSans-Semibold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'general-sans';
  src: url('/fonts/GeneralSans/GeneralSans-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'general-sans';
  src: url('/fonts/GeneralSans/GeneralSans-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


:root {
    --neutral-0000: #ffffff;
    --neutral-0050: #f9fafb;
    --neutral-0100: #f3f4f6;
    --neutral-0200: #e5e7eb;
    --neutral-0300: #d1d5db;
    --neutral-0400: #9ca3af;
    --neutral-0500: #6b7280;
    --neutral-0600: #4b5563;
    --neutral-0700: #374151;
    --neutral-0800: #1f2937;
    --neutral-0900: #111827;
    --neutral-0950: #030712;
    --neutral-1000: #000000;
}


html {
    --base-0000: var(--neutral-0000);
    --base-0050: var(--neutral-0050);
    --base-0100: var(--neutral-0100);
    --base-0200: var(--neutral-0200);
    --base-0300: var(--neutral-0300);
    --base-0400: var(--neutral-0400);
    --base-0500: var(--neutral-0500);
    --base-0600: var(--neutral-0600);
    --base-0700: var(--neutral-0700);
    --base-0800: var(--neutral-0800);
    --base-0900: var(--neutral-0900);
    --base-0950: var(--neutral-0950);
    --base-1000: var(--neutral-1000);
    
    background: var(--base-0000);
}


*.dark {
    --base-0000: var(--neutral-1000);
    --base-0050: #0F0F0F;
    --base-0100: #191B1F;
    --base-0200: #1B1D1F;
    --base-0300: var(--neutral-0700);
    --base-0400: var(--neutral-0600);
    --base-0500: #51565D;
    --base-0600: var(--neutral-0400);
    --base-0700: var(--neutral-0300);
    --base-0800: var(--neutral-0200);
    --base-0900: var(--neutral-0100);
    --base-0950: var(--neutral-0050);
    --base-1000: var(--neutral-0000);
}


@layer base {
    * { 
        cursor: inherit; 
        box-sizing: border-box;
    }

    /* Heading */
    h1, h2, h3, h4, h5, h6 {
        @apply 
            font-normal
    }
    
    /* Non-Heading Text */
    p, ul, ol, li, a, span, label, input, button { 
        @apply 
            font-normal
    }

    button {
        @apply
            py-1
            px-2
            rounded-md
        ;
    }

    svg {
        stroke: inherit;
    }
}


@layer components {
    .scroll-hide {
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    .scroll-hide::-webkit-scrollbar { 
        display: none; 
    }
}


@layer utilities {
    .surface-color {
        @apply
            text-base-500
            stroke-base-500
        ;
    }


    .surface-background {
        @apply
            bg-base-0
        ;
    }


    .surface-border {
        @apply
            border
            border-base-300
        ;
    }


    .surface-border-radius {
        @apply
            rounded-md
        ;
    }


    .surface-color-hover:hover {
        @apply
            text-base-700
            stroke-base-700
        ;
    }


    .surface-background-hover:hover {
        @apply
            !bg-base-100
        ;
    }


    .dark .surface-background {
        @apply
            bg-base-50
        ;
    }


    .dark .surface-border {
        @apply
            border-base-200
        ;
    }    


    .dark .surface-background-hover:hover {
        @apply
            !bg-black
        ;
    }


    .field-background {
        @apply
            bg-base-0
            shadow-sm
        ;
    }


    .field-padding {
        @apply
            px-2 
            py-1
        ;
    }


    .field-border {
        @apply
            border 
            border-base-300
            outline-none
            rounded-md
        ;
    }


    .field-text {
        @apply
            text-sm 
            tracking-wide
            text-base-700
        ;
    }


    .field-hover:hover {
        @apply
            bg-base-100
            text-base-700
            stroke-base-700
        ;
    }


    .field-focus:focus {
        @apply
            border-blue-500
            !bg-blue-100
            dark:!bg-blue-500/20
        ;
    }


    .dark .field-background {
        @apply
            bg-base-50
        ;
    }


    .dark .field-border {
        @apply
            border
            border-base-200
            outline-none
            rounded-md
        ;
    }


    .dark .field-hover:hover {
        @apply
            bg-gray-800/10
        ;
    }


    .error .field-border {
        @apply
            border-red-500
    }


    .error .field-focus:focus {
        @apply
            !border-red-500
            !bg-red-100
            dark:!bg-red-500/20
        ;
    }

    
    :not(.error) .field-focus:not(.error .field-focus):focus {
        @apply
            border-blue-500
            !bg-blue-100
            dark:!bg-blue-500/20
        ;
    }


    .alert-head {
        @apply
            text-sm 
            text-base-900 
            font-medium 
            leading-[1rem]
        ;
    }


    .alert-body {
        @apply
            tracking-wide 
            text-xs
            text-base-500
        ;
    }


    .entry-text {
        @apply text-xs text-base-700 tracking-wide whitespace-nowrap;
    }


    .entry-size {
        @apply h-full;
    }


    .entry-padding {
        @apply p-2;
    }


    .entry-border-l {
        @apply border-l border-l-base-300;
    }


    .entry-border-r {
        @apply border-r border-r-base-300;
    }


    .entry-border-t {
        @apply border-t border-t-base-300;
    }


    .entry-border-b {
        @apply border-b border-b-base-300;
    }


    .dark .entry-border-l {
        @apply border-l border-l-base-200;
    }


    .dark .entry-border-r {
        @apply border-r border-r-base-200;
    }


    .dark .entry-border-t {
        @apply border-t border-t-base-200;
    }


    .dark .entry-border-b {
        @apply border-b border-b-base-200;
    }


    .border-beam-wrapper {
        --color-1: 0, 0, 0, 0;
        --color-2: 255, 255, 255, 0.33;
        --parent-width: 100px;
        --parent-height: 100px;
        
        width: var(--parent-width);
        height: var(--parent-height);

        @apply
            relative
            overflow-hidden
    }


    .border-beam-wrapper::before, 
    .border-beam-wrapper::after {
        mix-blend-mode: color-dodge;
        @apply
            h-[40px]
            w-[40px]
            aspect-square
            content-['']
            absolute
            rounded-full
    }


    .border-beam-wrapper::before {
        background: linear-gradient(
            to right, 
            rgb(var(--color-1)) 0%, 
            rgb(var(--color-2)) 100%
        );
        @apply
            top-[calc(-10*0.25rem/2)]
            left-[calc(-10*0.25rem/2)]
            animate-border-cover
    }


    .border-beam-wrapper::after {
        background: linear-gradient(
            to right, 
            rgb(var(--color-2)) 0%, 
            rgb(var(--color-1)) 100%
        );
        @apply
            bottom-[calc(-10*0.25rem/2)]
            right-[calc(-10*0.25rem/2)]
            animate-border-cover-reverse
    }


    .border-beam-content {
        @apply
            w-[calc(100%-2px)]
            h-[calc(100%-2px)]
            m-[1px]
            relative
            z-[1]
        ;
    }
}